body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* my work below */ 
  padding: 8px;
}

/* my own */
.title,
.content,
.button-container {
  margin: 8px;
}

.title {
  background: #e3f4ff;
  /* own work */
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  /* own work */
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  /* own work */
  text-align: center; /* looked at soln */
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  /* own work */
  display: block;
  padding: 8px 24px;
  margin: auto; /* looked at soln */
  /* the text gets aligned but the button is separate element that needs to be aligned as well */
}